.about {
  margin-top: 120px;
  margin-bottom: 120px;

  @include vp-1439 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.about__container {
  width: 100%;
  display: grid;
  grid-template-columns: 398px 498px;
  column-gap: 238px;
  row-gap: 28px;
  padding-bottom: 60px;

  @include vp-1439 {
    width: $vp-768;
    grid-template-columns: 498px;
    column-gap: 0;
    row-gap: 30px;
  }

  @include vp-767 {
    width: $vp-320;
    grid-template-columns: 1fr;
    row-gap: 24px;
    padding-top: 2px;
    padding-bottom: 39px;
  }
}

.about__header-container {
  grid-column: 1/2;
  grid-row: 1/-1;
  margin-top: 3px;

  @include vp-1439 {
    grid-row: 1/2;
    margin-top: -1px;
  }

  @include vp-767 {
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.about__header-container h2 {
  margin: 0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  color: $color-accent;
  margin-bottom: 35px;

  @include vp-1439 {
    font-size: 34px;
    margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 13px;
  }
}

.about__header-container p {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;

  @include vp-1439 {
    font-size: 20px;
    line-height: 26px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
  }
}

.about__description-container {
  grid-column: 2/3;
  grid-row: 1/2;

  @include vp-1439 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 7px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.about__description-container h3 {
  margin: 0;
  margin-top: -2px;
  color: $color-accent;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 33px;

  @include vp-1439 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 23px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 11px;
  }
}

.about__description-container p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1439 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}

.about__btn {
  grid-column: 2/3;
  grid-row: 2/3;

  @include vp-1439 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
