.custom-toggle {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  gap: 10px;
  align-items: center;

  @include vp-767 {
    margin-bottom: 8px;
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }

  label {
    position: relative;
    width: min-content;
  }


  .custom-toggle__icon {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: transparent;
    border: 1px solid $color-white-70;
    transition: border .3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-767 {
      padding: 6px 8px;
      margin-top: -2px;
    }

    svg {
      position: absolute;
      width: 10px;
      height: 8px;
      color: $color-accent;
    }
  }

  .custom-toggle__text {
    color: $color-default-white;
    opacity: 0.9;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;

    @include vp-767 {
      line-height: 14px;
    }
  }


  input:not(:disabled):hover + .custom-toggle__icon {
    border: 1px solid $color-default-white;
  }

  input:not(:disabled):focus-visible + .custom-toggle__icon {
    border: 1px solid $color-default-white;
  }

  input:checked + .custom-toggle__icon {
    border: 1px solid $color-default-white;
    background-color: $color-default-white;

    svg {
      color: $color-accent;
    }
  }

  input:checked:hover + .custom-toggle__icon {
    border: 1px solid $color-default-white;
    background-color: $color-transparent;

    svg {
      color: $color-default-white;
    }
  }

  input:checked:focus-visible + .custom-toggle__icon {
    border: 1px solid $color-default-white;
    background-color: $color-transparent;

    svg {
      color: $color-default-white;
    }
  }

  input:disabled + .custom-toggle__icon {
    border: 1px solid $color-default-white;
    background-color: $color-white-60;

    svg {
      color: $color-transparent;
    }
  }

  input:checked:disabled + .custom-toggle__icon {
    border: 1px solid $color-disabled;
    background-color: $color-disabled;

    svg {
      color: $color-default-white;
    }
  }

  &.is-invalid {
    .custom-toggle__icon {
      border: 1px solid $color-error;
      background-color: $color-error-20;

      svg {
        color: $color-transparent;
      }
    }
  }
}
