.header {
  position: relative;
}


.header__nav-container {
  position: fixed;
  width: $vp-1440;
  left: calc((100vw - $vp-1440) / 2);
  transition: transform $trans-default;
  min-width: $vp-320;
  margin: 0 auto;
  padding: 30px 100px;

  @include vp-1439 {
    width: $vp-768;
    left: calc((100vw - $vp-768) / 2);
    padding: 30px 45px;
  }

  @include vp-767 {
    width: $vp-320;
    left: calc((100vw - $vp-320) / 2);
    padding: 21px 15px;
  }
}

.header__nav-container.is-hidden {
  transform: translateY(-100%);
}
