.nav {
   position: absolute;
   z-index: $index-nav;
}

.nav__burger-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}


.nav__menu {
  position: absolute;
  top: 58px;
  right: 0;
}

.nav.is-open .nav__logo {
  @include vp-767 {
    display: none;
  }
}
