.reviews {
  margin-bottom: 120px;
  padding-top: 4px;

  @include vp-1439 {
    margin-bottom: 100px;
    padding-top: 0;
  }

  @include vp-767 {
    margin-bottom: 59px;
    padding-top: 3px;
  }
}

.reviews__container {
  width: $vp-1440;

  @include vp-1439 {
    width: $vp-768;
  }

  @include vp-767 {
    width: $vp-320;
    position: relative;
  }
}

.reviews__container.container {
  @include vp-1439 {
    padding-right: 0;
  }

  @include vp-767 {
    padding-right: 15px;
  }
}

.reviews__container h2 {
  margin: 0;
  color: $color-accent;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 46px;
  margin-left: 3px;
  text-align: left;
  max-width: 50%;

  @include vp-1439 {
    font-size: 34px;
    margin-bottom: 40px;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 27px;
    position: absolute;
    top: 0;
  }
}

.reviews__swiper {
  width: $vp-container-1440;

  @include vp-1439 {
    width: calc($vp-container-768 + 45px);
  }

  @include vp-767 {
    width: $vp-container-320;
    padding-top: 52px;
  }
}

.reviews__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40px;

  @include vp-767 {
    margin-bottom: 0;
  }
}

.reviews__item {
  padding: 49px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;
  border: 1px solid $color-accent;
  border-radius: 16px;

  @include vp-1439 {
    width: 560px;
    row-gap: 26px;
    padding-bottom: 45px;
    padding-top: 48px;
  }

  @include vp-767 {
    padding: 29px 14px 25px 14px;
    row-gap: 24px;
  }
}

.reviews__item--thin {
  padding-bottom: 42px;

  @include vp-1439 {
    padding-bottom: 45px;
  }

  @include vp-767 {
    padding-bottom: 25px;
  }
}

.reviews__data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

.reviews__img {
  width: 90px;
  height: 90px;


  @include vp-767 {
    width: 60px;
    height: 60px;
  }
}

.reviews__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.reviews__data-student {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 200px;
  justify-content: flex-start;

  @include vp-1439 {
    gap: 16px;
  }

  @include vp-767 {
    gap: 10px;
  }
}

.reviews__data-student span {
  text-align: left;
  text-wrap: wrap;
  color: $color-accent;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  @include vp-1439 {
    font-size: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 18px;
  }
}

.reviews__data-list {
  padding: 0;
  margin: 0;
  margin-top: -6px;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 11px;
  column-gap: 25px;
  max-width: 270px;

  @include vp-1439 {
    margin-top: -4px;
    margin-right: 1px;
    column-gap: 26px;
  }

  @include vp-767 {
    margin-top: 0;
    margin-right: 0;
  }
}

.reviews__data-item span {
  color: $color-accent;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.reviews__data-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
    opacity: 0.9;
    margin-top: 2px;
  }
}

.reviews__info-container h3 {
  margin-top: 0;
  margin-bottom: 14px;
  color: $color-accent;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}

.reviews__info-container p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  min-height: 148px;

  @include vp-1439 {
    font-size: 16px;
    line-height: 20px;
    min-height: initial;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }
}

.reviews__nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1439 {
    width: $vp-container-768;
  }

  @include vp-767 {
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.reviews__swiper {
  width: $vp-container-1440;

  @include vp-1439 {
    width: calc($vp-768 - 45px);
  }

  @include vp-767 {
    width: $vp-container-320;
  }
}

.reviews__swiper .swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 1134px;
  height: 2px;
  background-color: rgba(49, 109, 194, 0.2);


  @include vp-1439 {
    width: 560px;
  }

  @include vp-767 {
    display: none;
  }
}


.reviews__swiper .swiper-scrollbar-drag {
  height: 2px;
  background: $color-accent;
  opacity: 1;

  @include vp-767 {
    display: none;
  }
}

.reviews__slider-buttons {
  display: flex;
  justify-content: space-between;
  width: 54px;
}

.reviews__slider-btn {
  background-color: $color-transparent;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  color: $color-accent;
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    background-color: $color-default-white;
    color: $color-accent;
  }

  &:not(:disabled):active {
    background-color: $color-default-white;
    color: $color-accent;
    opacity: 0.7;
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    outline: none;

    svg {
      background-color: $color-transparent;
      color: $color-disabled;
    }
  }
}
